/.DS_Store
node_modules
cover.json
job.json
resume-reference.json
resume.json
resume.html
submitted_covers/*
!submitted_covers/json/.gitkeep
!submitted_covers/pdf/.gitkeep
submitted_resumes/*
!submitted_resumes/.gitkeep
submitted_jobs/*
!submitted_jobs/.gitkeep
.env
/job-app/*
