#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}
.app-wrapper {
}
.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: white;
}
